
/target/
/.idea/.name
/.idea/compiler.xml
/.idea/
/.idea/.gitignore
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/copyright/
/faroop-parent.iml
